body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Use the full viewport height */
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #84fab0, #8fd3f4); /* Gradient background */
  color: #333;
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Vertically centers the child elements */
  justify-content: center; /* Horizontally centers the child elements */
}

.App {
  max-width: 500px;
  width: 100%; /* Ensures it respects the max-width */
  margin: auto; /* Centers the element in the allocated flex container space */
  padding: 20px;
  background-color: #e0cece; /* Light grey background */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds shadow for depth */
  border-radius: 8px; /* Rounded corners */
}

h1 {
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #0066cc; /* Blue */
  color: white;
  border: none;
  cursor: pointer;
}

form button {
  border-radius: 0 4px 4px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

li button {
  margin-left: 10px;
  font-size: 14px;
  padding: 5px 10px;
}

li div {
  display: flex;
  align-items: center;
}
